.container {
  padding: var(--padding);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block: 2em;
    /* text-transform: uppercase; */
  }
  
  .currentpage {
    text-decoration: underline;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .header a {
    text-decoration: none;
  }
