/* Colors
navy #011526
white #F2F0F0
dark gray #8C8181
gray #BFB4B4
black #262626
*/

.container {
  padding: var(--padding);
  padding-top: 12rem;
  max-width: 1020px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  /* font-weight: 500; */
}

.description {
  /* line-height: 1.4; */
  font-size: 2.6rem;
  /* font-size: 2rem; */
  /* max-width: 700px; */
  /* font-family: "Playfair Display", serif; */
  /* font-weight: 400; */
  /* text-transform: uppercase; */
}

.description b {
  /* font-style: oblique; */
  font-weight: 400;
  /* text-transform: uppercase; */
}

.projects {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.p {
  max-width: 600px;
}

.about {
  font-size: 1.2rem;
  max-width: 40rem;
}

.aboutimage {
  position: fixed;
  z-index: -1;
  max-width: 50rem;
  left: 60%;
  top: 10%;
}

.bgwrapper {
  width: 100vw;
}

.bg {
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 0;
  top: 4rem;
  bottom: 0;
  overflow: hidden;
}

.animate {
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.about_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@keyframes animate-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .container {
    padding-top: 2rem;
  }
  .about_container {
    flex-direction: column;
  }
  .canvas {
    display: flex;
    justify-content: center;
  }

  .description {
    font-size: 2rem;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .animate {
    animation: none !important;
  }
}
