.container {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.container > * {
    width: fit-content;
}