  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }

  .project p {
    margin-block-start: 0;
  }
  
  @media (max-width: 1040px) {
    /* default max-width: 600px */
    .project {
      flex-direction: column;
      margin: 0 auto;
    }

    .projecttext {
      max-width: 27rem;
    }
  }

  /* .company {
    display: flex;
    justify-content: space-between;
  } */

  .company, .link {
    text-transform: uppercase;
  }

.projectimg {
  max-width: 27rem;
}