  .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
  
  .projecttext {
    width: 40rem;
  }

  .projectdesc {
    padding: 2rem 0;
  }

  .project p {
    margin-block-start: 0;
  }
  
  @media (max-width: 1020px) {
    /* default max-width: 600px */
    .project {
      flex-direction: column;
      margin: 0 auto;
      max-width: 40rem;
    }

    .projecttext {
      width: 100%;
    }
  }

  /* .company {
    display: flex;
    justify-content: space-between;
  } */

  .company, .link {
    text-transform: uppercase;
  }
  