/* Colors
navy #011526
white #F2F0F0
dark gray #8C8181
gray #BFB4B4
black #262626
*/

.main {
  min-height: 100vh;
  /* padding: 4rem 0; */
  padding: 8rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 500;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 500px;
}

/* .code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
} */

.projects {
  margin-block: 4em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
